<section class="tx-detail-container">
    <h3>Transaction Detail</h3>
    <a mat-button (click)="navBack()">< Back</a>
    <form #heroForm="ngForm">
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>ID</span>
          <span matListItemLine>{{transaction.id}}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Date</span>
          <span matListItemLine>{{transaction.date}}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Comments</span>
          <span matListItemLine><input type="text" class="form-control" id="comment" required [(ngModel)]="comment" name="comment" /></span>
        </mat-list-item>
      </mat-list>
      <button mat-flat-button (click)="saveComment()">Save</button>
    </form>
  </section>
  